.product-card
	width 250px
	padding 20px
	margin 20px
	display flex
	justify-content space-between
	flex-direction column
	align-items flex-start
	border 1px solid #d0d0d0

	&__name
		margin-bottom 30px
		color #3757c5
		font-size 25px
		font-weight bold

	&__spec-list
		width 50%
		margin-bottom 20px

	&__spec
		margin-bottom 10px
		display flex
		flex-direction row
		justify-content space-between

		&-title
			color #a0a0a0

	&__price
		font-weight bold
		font-size 20px