.page
	padding 30px

	&__filter-buttons
		margin-bottom 20px

	&__products
		display flex
		flex-wrap wrap
		align-items stretch
		align-content stretch
		margin-bottom 20px

		& .product-card
			margin-top 20px
			margin-right 20px