.paginator

	&__prev
		margin-right 15px

	&__next
		margin-left 15px

	&__pages
		display inline-block

	&__page
		position relative
		margin-left -1px
		&:hover
			z-index 2
		&:first-child
			margin-left 0

		&--current
			background-color #ffebae